.ap-app-container {
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
  }
  
  .ap-sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .ap-main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .ap-main-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }